<md-content
    flex>
    <mb-titled-block 
        ng-show="!ctrl.edit"
        mb-progress="ctrl.loadingTerm || ctrl.savingTerm || ctrl.removingTerm"
        mb-title="{{'Term'| translate}}"
        layout="column">

        <div layout="row" 
             layout-xs="column" 
             layout-align-xs="center center" 
             layout-padding>

            <table>
                <tr>
                    <td translate="">ID </td>
                    <td>: {{ctrl.term.id}}</td>
                </tr>
                <tr>
                    <td translate="">Name </td>
                    <td>: {{ctrl.term.name}}</td>
                </tr>
                <tr>
                    <td translate="">Slug </td>
                    <td>: {{ctrl.term.slug}}</td>
                </tr>
            </table>
        </div>
        <div ng-show="!ctrl.edit" layout-gt-xs="row"
             layout="column">
            <span flex></span>
            <md-button 
                class = "md-raised md-accent"
                ng-click="ctrl.remove()">
                <span translate="">Delete</span>
            </md-button>
            <md-button 
                class="md-raised md-primary"
                ng-click="ctrl.edit = true;">
                <span translate="">Edit</span>
            </md-button>
        </div>
    </mb-titled-block>
    <!--Edit term -->
    <mb-titled-block 
        ng-show="ctrl.edit"
        mb-progress="ctrl.savingTerm"
        mb-title="{{'Edit term'| translate}}"
        layout="column">

        <form
            name="myForm"
            ng-action="ctrl.save()"
            layout="column" 
            flex>
            <md-input-container>
                <label translate="">Name</label>
                <input ng-model="ctrl.term.name" name="name" required></input>
                <div ng-messages="myForm.name.$error">
                    <div ng-message="required" translate="">This field is required.</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label translate="">Slug</label>
                <input ng-model="ctrl.term.slug" name="slug" required></input>
                <div ng-messages="myForm.slug.$error">
                    <div ng-message="required" translate="">This field is required.</div>
                </div>
            </md-input-container>

            <div layout="row">
                <span flex></span>
                <md-button 
                    class="md-raised"
                    ng-click="ctrl.edit = false">
                    <span translate="">Cancel</span>
                </md-button>
                <md-button
                    class="md-raised md-primary"  
                    ng-disabled="myForm.$invalid"
                    ng-click="ctrl.save()">
                    <span translate="">Save</span>
                </md-button>
            </div>
        </form>
    </mb-titled-block>

    <!--Metas of term-->
    <mb-titled-block
        mb-progress="ctrl.loadingMetas || ctrl.updatingMeta || ctrl.addingMeta || ctrl.removingMeta"
        mb-title="{{'Metas'| translate}}"
        layout="column"
        mb-more-actions="ctrl.metaActions">

        <div layout="column"
             ng-if="ctrl.metas.length == 0">
            <p style="text-align: center" translate="">List is empty.</p>
        </div>
        <md-list flex>
            <md-list-item 
                ng-repeat="meta in ctrl.term.metas track by meta.id"
                class="md-2-line">
                <div 
                    class="md-list-item-text" 
                    layout="column">
                    <h3><span translate="">Key</span>: {{meta.key}}</h3>
                    <h3><span translate="">Value</span>: {{meta.value}}</h3>
                </div>
                <wb-icon 
                    class="md-secondary" 
                    ng-click="ctrl.removeMeta(meta, $index)" 
                    aria-label="Delete">
                    delete
                </wb-icon>
                <wb-icon 
                    class="md-secondary" 
                    ng-click="ctrl.editMeta(meta, $index)" 
                    aria-label="Delete">
                    edit
                </wb-icon>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </mb-titled-block>

    <!--taxonomies of term-->
    <mb-titled-block
        mb-progress="ctrl.loadingTaxonomies || ctrl.updatingTaxonomy || ctrl.addingTaxonomy || removingTaxonomy"
        mb-title="{{'Taxonomies'| translate}}"
        layout="column"
        mb-more-actions="ctrl.taxonomyActions">

        <div layout="column"
             ng-if="ctrl.term.taxonomies.length == 0">
            <p style="text-align: center" translate="">List is empty.</p>
        </div>
        <md-list flex>
            <md-list-item 
                ng-repeat="tax in ctrl.term.taxonomies track by tax.id"
                ng-href="term-taxonomies/{{tax.id}}"
                class="md-2-line">
                <div 
                    class="md-list-item-text" 
                    layout="column">
                    <h3><span translate="">Taxonomy</span>: {{tax.taxonomy}}</h3>
                    <h3><span translate="">Description</span>: {{tax.description}}</h3>
                </div>
                <wb-icon 
                    class="md-secondary" 
                    ng-click="ctrl.removeTaxonomy(tax, $index)" 
                    aria-label="Delete">
                    delete
                </wb-icon>
                <wb-icon 
                    class="md-secondary" 
                    ng-click="ctrl.editTaxonomy(tax, $index)" 
                    aria-label="Delete">
                    edit
                </wb-icon>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </mb-titled-block>
</md-content>
