<div  
    ng-init="ctrl.setDataQuery('{id, taxonomy, description, count, term{id, name}}')"
    mb-preloading="ctrl.loading"
    layout="column"
    flex>
    <!-- درخواست‌هایی که به سیستم وارد شده -->
    <!-- تمام درخواست‌هایی که سرور به کاربر جاری می‌دهد با استفاده از این نمایش فهرست می‌شود. -->
    <!-- TODO: maso, 1395: در حالت خطا یک صفحه با امکان reload اضافه بشه. -->
    <!-- Action bar -->
    <mb-pagination-bar
        mb-model="ctrl.queryParameter"
        mb-reload="ctrl.reload()"
        mb-sort-keys="ctrl.getSortKeys()"
        mb-more-actions="ctrl.getActions()">
    </mb-pagination-bar>
    <md-content
        mb-infinate-scroll="ctrl.loadNextPage()"
        layout="column"
        flex>
        <!-- Contents info -->
        <md-list flex>
            <md-list-item 
                ng-repeat="content in ctrl.items track by content.id"
                ng-href="term-taxonomies/{{::content.id}}"
                class="md-3-line">
                <div 
                    class="md-list-item-text" 
                    layout="column">
                    <h3>{{::content.term.name}} ({{::content.count}})</h3>
                    <h4>{{::content.taxonomy}}</h4>
                    <p>{{::content.description}}</p>
                </div>
                <wb-icon 
                    class="md-secondary" 
                    ng-click="ctrl.deleteItem(content, $event)" 
                    aria-label="Delete">
                    delete
                </wb-icon>
            </md-list-item>
        </md-list>
    </md-content>
    <div
        layout="column"
        layout-align="center center"
        ng-if="ctrl.state === 'ideal' && (!ctrl.items || ctrl.items.length == 0)">
        <h2 translate="">No item found</h2>
    </div>
</div>
