<md-content
	flex>
	<mb-titled-block 
		mb-title="Information"
		mb-more-actions="ctrl.contentActions"
		mb-progress="ctrl.loading"
		layout="column">
		<div
			layout="row">
			<amd-content-preview
				ng-model="ctrl.content"
				md-margin>
			</amd-content-preview>
			<table
				md-margin>
					<tr>
						<td translate>ID</td>
						<td>{{::ctrl.content.id}}</td>
					</tr>
					<tr>
						<td translate>Name</td>
						<td>
							<mb-inline
								ng-model="ctrl.content.name"
								mb-inline-type="text"
								mb-inline-label="Name"
								mb-inline-enable="true"
								mb-inline-on-save="ctrl.save()">{{ctrl.content.name || '...'}}</mb-inline>
						</td>
					</tr>
					<tr>
						<td translate>Title</td>
						<td>
						  <mb-inline
							  ng-model="ctrl.content.title"
							  mb-inline-type="text"
							  mb-inline-label="Title"
							  mb-inline-enable="true"
							  mb-inline-on-save="ctrl.save()">
							  {{ctrl.content.title || '...'}}
						  </mb-inline>
						 </td>
					</tr>
					<tr>
						<td translate>Description</td>
						<td>
						  <mb-inline
							  ng-model="ctrl.content.description"
							  mb-inline-type="textarea"
							  mb-inline-label="Description"
							  mb-inline-enable="true"
							  mb-inline-on-save="ctrl.save()">
							  {{ctrl.content.description || '...'}}
						  </mb-inline>
						 </td>
					</tr>
					<tr>
						<td translate>File name</td>
						<td>
						  <mb-inline
							  ng-model="ctrl.content.file_name"
							  mb-inline-type="text"
							  mb-inline-label="File name"
							  mb-inline-enable="true"
							  mb-inline-on-save="ctrl.save()">
							  {{ctrl.content.file_name || '...'}}
						  </mb-inline>
						 </td>
					</tr>
					<tr>
						<td translate>File size</td>
						<td>{{ctrl.content.file_size}}</td>
					</tr>
					<tr>
						<td translate>Media type</td>
						<td>
						  <mb-inline
							  ng-model="ctrl.content.media_type"
							  mb-inline-type="text"
							  mb-inline-label="Media type"
							  mb-inline-enable="true"
							  mb-inline-on-save="ctrl.save()">
							  {{ctrl.content.media_type || '...'}}
						  </mb-inline>
						 </td>
					</tr>
					<tr>
						<td translate>Mimetype</td>
						<td>
						  <mb-inline
							  ng-model="ctrl.content.mime_type"
							  mb-inline-type="text"
							  mb-inline-label="Mimetype"
							  mb-inline-enable="true"
							  mb-inline-on-save="ctrl.save()">
							  {{ctrl.content.mime_type || '...'}}
						  </mb-inline>
						 </td>
					</tr>
					<tr>
						<td translate>Downloads count</td>
						<td>{{::ctrl.content.downloads}}</td>
					</tr>
					<tr>
						<td translate>Creation Date</td>
						<td>{{ctrl.content.creation_dtime | mbDate}}</td>
					</tr>
					<tr>
						<td translate>Last Modification Date</td>
						<td>{{ctrl.content.modif_dtime | mbDate}}</td>
					</tr>
			</table>
		</div>
		<!-- Action bar -->
		<div 
			layout="row"
			ng-show="!ctrl.edit">
			<span flex></span>
			<md-button 
				ng-href="/api/v2/cms/contents/{{ctrl.content.id}}/content"
				download="{{ctrl.content.file_name || ctrl.content.name}}"
				target="_blank"
				class = "md-raised md-primary">
				<span translate>Download</span>
			</md-button>
			<md-button 
				class = "md-raised md-accent"
				ng-click="ctrl.remove()">
				<span translate>Delete</span>
			</md-button>
		</div>
	</mb-titled-block>


	<!-- 
	  --  Term taxonomy
	  -- This section manages term taxonomies of a content and let you
	  -- add, remove or update the list.
	  -->
	<mb-titled-block
		mb-progress="ctrl.termtaxonomyJob"
		mb-more-actions="ctrl.termtaxonomyActions"
		mb-title="Term Taxonomies">
		<md-chips
			ng-model="ctrl.termTaxonomies" 
			name="termTaxonomies" 
			readonly="true"
			md-removable="true"
			md-on-remove="ctrl.removeTermTaxonomy($chip)"
			md-max-chips="5" 
			placeholder="Enter a term"
			input-aria-label="Terms">
			<md-chip-template>
				<strong>{{::$chip.term.name}}</strong>
				<em>({{::$chip.taxonomy}})</em>
			</md-chip-template>
		</md-chips>
	</mb-titled-block>
	
	<!-- 
	  --  Metadata
	  -- In this section you can edit and manage all metadata of a
	  -- content.
	  -->
	<mb-titled-block
		mb-title="Metadata"
		mb-more-actions="ctrl.metadataActions"
		mb-progress="ctrl.metadataJob"
		layout="column">
		<md-input-container 
			ng-repeat="m in ctrl.metadata"
			class="md-icon-float md-icon-right md-block">
			<label>{{::m.key}}</label>
			<wb-icon ng-if="ctrl.canEditMetadata(m)">edit</wb-icon>
			<input 
				ng-model="m.value" 
				ng-change="ctrl.updateMetadata(m)"
				ng-model-options="{updateOn:'default change blur',debounce:{default:1000,blur:0,change:0}}"
				type="text">
			<wb-icon
				ng-click="ctrl.deleteMetadata(m)">delete</wb-icon>
		</md-input-container>
	</mb-titled-block>
</md-content>

