table.md-table {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 2rem 0rem 0rem 0rem;
	max-width: 1100px;
}

table.md-table td {
	box-sizing: border-box;
	padding: 2px 8px;
	overflow: hidden;
	outline: 1px solid #fff;
}

table.md-table td:first-child {
	outline: 1px solid #fff;
	background: transparent;
}

@media only screen and (max-width: 768px) {
	table.md-table td:first-child {
		display: none;
	}
}

table.md-table td:nth-child(3) {
	outline: 1px solid #30305b;
}

table.md-table td:nth-child(-n+3) {
	padding-top: 8px;
	padding-bottom: 8px;
}

table.md-table td>h3 {
	margin-top: 0;
	margin-bottom: 2px;
}

