<div  
	layout="column"
	style="padding: 16px;"
	flex>
	<md-input-container>
		<label translate="">Key</label>
		<input 
			ng-model="value.key" 
			type="text">
	</md-input-container>
	<md-input-container>
		<label translate="">Value</label>
		<input 
			ng-model="value.value" 
			type="text">
	</md-input-container>
</div>