<div  
	ng-controller="AmdCmsTermTaxonomiesCtrl as ctrl"
	ng-init="ctrl.setDataQuery('{id, taxonomy, description, count, term{id, name}}')"
	mb-preloading="ctrl.state === 'busy'"
	layout="column"
	flex>
	<mb-pagination-bar
        mb-model="ctrl.queryParameter"
        mb-reload="ctrl.reload()"
        mb-sort-keys="ctrl.getSortKeys()"
        mb-more-actions="ctrl.getActions()"
        mb-properties="ctrl.properties">
	</mb-pagination-bar>
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
		<md-list flex>
			<md-list-item 
				ng-repeat="content in ctrl.items track by content.id"
				ng-click="multi || resourceCtrl.setSelected(content)"
				class="md-3-line">
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{::content.term.name}} ({{::content.count}})</h3>
					<h4>{{::content.taxonomy}}</h4>
					<p>{{::content.description}}</p>
				</div>
				<md-checkbox 
					ng-if="multi"
					class="md-secondary"
					ng-init="content.selected = resourceCtrl.isSelected(content)" 
					ng-model="content.selected"
					ng-change="resourceCtrl.setSelected(content, content.selected)">
				</md-checkbox>
				<md-divider md-inset></md-divider>
			</md-list-item>
		</md-list>
	</md-content>
</div>
